/**
 * All Content
 */
.content {
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content:hover .content-byline .content-created-at {
  display: block;
}
.content a {
  text-decoration: none;
}
.content .content-author-avatar {
  line-height: 0px;
  float: left;
  display: block;
}
.content .content-author-avatar img {
  width: 48px;
  height: 48px;
}
.content .content-main {
  overflow-x: hidden;
}
.content .content-author-avatar + .content-main {
  margin-left: 53px;
  min-height: 48px;
}
.content .content-byline {
  font-weight: bold;
  margin: 0px;
  line-height: 18px;
}
.content .content-byline .content-created-at {
  float: right;
  font-weight: normal;
  font-size: 12px;
  color: #999;
  display: none;
}
.content .content-attachment {
  margin-top: 5px;
}
.content .content-attachment > * {
  max-width: 100%;
  display: block;
}
.content .content-attachment > iframe {
  border: none;
}
.content .content-attachment > img {
  border-radius: 5px;
  margin: 0 auto;
}
