/**
 * All Content
 */
.content {
	
	background-color: white;
	padding:5px;
	margin-bottom:5px;
	font-family:"Helvetica Neue",Arial,sans-serif;
	font-size:14px;
	border: 1px solid #ccc;
	border-radius:2px;
	
	&:hover .content-byline .content-created-at {
	   display:block;
	}
	
    a {
        text-decoration: none;
    }
	.content-author-avatar {
        line-height:0px;
        float:left;
        display:block;
        img {
            width:48px;
            height:48px;
        }
    }
    
    .content-main {
        overflow-x: hidden;
    }
    
    .content-author-avatar + .content-main {
        min-height:48px;
    }
    
    .content-author-avatar + .content-main, 
    .content-author-avatar ~ .content-actions {
        margin-left: 53px;
    }
	
    .content-byline {
	    font-weight: bold;
        margin:0px;
        line-height:18px;
        .content-created-at {
            float:right;
            font-weight:normal;
            font-size:12px;
            color:#999;
            display:none;
        }
        .content-source-logo {
            float:right;
            margin-left:5px;
        }
    }
    
    .content-attachment {
        display: inline-block;
        margin-top:5px;
    }
    
    .content-attachment > * {
        max-width: 100%;
        display:block;
    }
    .content-attachment > iframe {
        border:none;
    }

    .content-attachment > img {
        border-radius:2px;
        margin: 0 auto;
    }
    .content-actions {
        list-style-type:none;
        padding:0px;
        margin:0px;
        margin-top:5px;
        font-size:12px;
        img {
            vertical-align:bottom;
            margin-right:2px;
        }
        a {
            color:#999;
        }
        .content-action {
            display:inline;
        }
    }
    &.content-tweet {
	    .content-author-avatar + .content-main {
	        min-height: 34px;
	    }
    }
    
}
