/**
 * All Content
 */
.content {
  padding: 5px;
  /**
	Clearfix the main content. This is necessary if the avatar is taller
	than the content body */

}
.content .content-byline {
  margin-top: 0;
  margin-bottom: 0;
}
.content .content-author-avatar {
  float: left;
  margin-right: 5px;
}
.content .content-author-avatar > img {
  height: 2em;
}
.content .content-main:after {
  content: "";
  display: table;
  clear: both;
}
.content .content-actions {
  list-style-type: none;
  padding: 0;
}
.content .content-actions .content-action {
  display: inline-block;
}
/**
 * Twitter Content
 */
