<header>
	{{#author.avatar}}
	<a class="content-author-avatar"><img src="{{ author.avatar }}" /></a>
	{{/author.avatar}}
	{{^author.avatar}}
    <a class="content-author-avatar content-author-avatar-none"></a>
    {{/author.avatar}}
	<p class="content-byline">
		{{#author.url}}
			<a class="content-author-name" href="{{ author.url }}" target="_blank">{{ author.displayName }}</a>
		{{/author.url}}
		{{^author.url}}
			<span class="content-author-name">{{ author.displayName }}</span>
		{{/author.url}}
	</p>
</header>
<div class="content-main">
    <div class="content-created-at">{{createdAt}}</div>
	<div class="content-body">
	{{{ body }}}
	</div>
	<div class="content-attachments">
	{{#attachments}}
        <div class="content-attachment">
            {{#html}}
                {{{html}}}
            {{/html}}
            {{^html}}
                <img src="{{ url }}" />
            {{/html}}
        </div>
	{{/attachments}}
	</div>
</div>