{{#author.avatar}}
<a class="content-author-avatar">
    <img src="{{ author.avatar }}" />
</a>
{{/author.avatar}}

<div class="content-main">
    <div class="content-byline">
        <a class="content-author-name" href="{{author.profileUrl}}" target="_blank">{{ author.displayName }}</a>
        <a class="content-source-logo" href="https://twitter.com/statuses/{{tweetId}}/" target="_blank"></a>
        <div class="content-created-at">{{{formattedCreatedAt}}}</div>
    </div>
    <div class="content-body">
        {{{ body }}}
    </div>
</div>

<div class="content-attachments">
{{#attachments}}
    <div class="content-attachment">
        {{#html}}
            {{{html}}}
        {{/html}}
        {{^html}}
            <img src="{{ url }}" />
        {{/html}}
    </div>
{{/attachments}}
</div>
