{{#author.avatar}}
<a class="content-author-avatar">
    <img src="{{ author.avatar }}" />
</a>
{{/author.avatar}}

<div class="content-main">
    <div class="content-byline">
        <a class="content-author-name" href="https://twitter.com/intent/user?user_id={{author.twitterUserId}}" target="_blank">{{ author.displayName }}</a>
        <a class="content-source-logo" href="https://twitter.com/statuses/{{tweetId}}/" target="_blank"></a>
        <div class="content-created-at">{{{formattedCreatedAt}}}</div>
    </div>
    <div class="content-body">
        {{{ body }}}
    </div>
</div>

<ul class="content-actions">
    <li class="content-action" data-content-action="reply">
        <a href="https://twitter.com/intent/tweet?in_reply_to={{tweetId}}" title="Reply">
            <span>Reply</span>
        </a>
    </li>
    <li class="content-action" data-content-action="retweet">
        <a href="https://twitter.com/intent/retweet?tweet_id={{tweetId}}" title="Retweet">
            <span>Retweet</span>
        </a>
    </li>
    <li class="content-action" data-content-action="favorite">
        <a href="https://twitter.com/intent/favorite?tweet_id={{tweetId}}" title="Favorite">
            <span>Favorite</span>
        </a>
    </li>
</ul>

<div class="content-attachments">
{{#attachments}}
    <div class="content-attachment">
        {{#html}}
            {{{html}}}
        {{/html}}
        {{^html}}
            <img src="{{ url }}" />
        {{/html}}
    </div>
{{/attachments}}
</div>
